.quiz {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
}
/* Set margin-top of first quiz child */
.quiz > *:first-child {
  margin-top: 0;
}
.quiz .hidden {
  display: none;
}

.quiz form button {
  background-color: var(--md-primary-fg-color);
  border: none;
  color: var(--md-primary-bg-color);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 5px;
}

.quiz .wrong label,
.quiz .wrong label code {
  color: red;
}
.quiz .correct label,
.quiz .correct label code {
  color: green;
}

.quiz fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}
.quiz fieldset input {
  margin: 0 10px;
  cursor: pointer;
}
.quiz fieldset label {
  margin: 0 10px;
  cursor: pointer;
}

.quiz label.correct {
  color: green;
  background-color: antiquewhite;
}
.quiz label.wrong {
  color: red;
}
.quiz input[type='radio'].correct {
  accent-color: green;
}
.quiz input[type='radio'].wrong {
  accent-color: red;
}
.quiz .content {
  margin: 10px;
}
